@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

.otp {

 width: 44px;
  height: 44px;
  border: none;
  border-bottom: 2px #E2E1E5 solid;

  background: transparent;
}
input:focus
{
    border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}

.otp-container {

  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.main {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}

.btn-container {
  padding: 4%;

}

ion-modal {
  --width: 280px;
  --height: 217px;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}

.continue-btn {
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 100px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0.10px;
  word-wrap: break-word;
  --border-radius: 20px;
  background: var(--Primary, #3355B9) !important;
}

ion-button {
  background: none !important;
}

.resend-container {
  text-align: center;
}

.mobile {
  color: #3355B9;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word
}

.intro-content {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  color: #363636;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word
}

.resend-container {
  padding: 5%;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }

  25% {
    stroke: #DE3E35;
  }

  50% {
    stroke: #F7C223;
  }

  75% {
    stroke: #1B9A59;
  }

  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }

  25% {
    stroke: #DE3E35;
  }

  50% {
    stroke: #F7C223;
  }

  75% {
    stroke: #1B9A59;
  }

  100% {
    stroke: #4285F4;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

.spinner {
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// scaling... any units
$width: 100px;

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {

  100%,
  0% {
    stroke: $red;
  }

  40% {
    stroke: $blue;
  }

  66% {
    stroke: $green;
  }

  80%,
  90% {
    stroke: $yellow;
  }
}

// demo-specific

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.resenddiv {
  text-align: center;
  color: #3355B9;
  font-size: 14px;
  font-family: Open Sans Hebrew;
  font-weight: 700;
  text-decoration: underline;
  letter-spacing: 0.10px;
  word-wrap: break-word;
  padding: 5%;
}
.my-color{
  background: #D1D1D1;
  color: rgb(138, 126, 126);
 }
 .color{
  background: #3355B9;
  color: white;
 }
 .otp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.otp__input {
  text-align: center;
}
.otp__input {
  border: none;
  border-bottom: 2px solid rgb(203 213 225);
  font-size: 2rem;
  outline: none;
}

::ng-deep .each_input{
  width: 44px !important;
  height: 44px !important;
  background: transparent !important;
  border: none !important;
  border-bottom: 2px solid #E2E1E5!important;
}
::ng-deep .mydialog{
  border-radius: 24px !important;
}
.first_div{
 color: #3355B9; font-size: 24px;  font-weight: 700; line-height: 20px; word-wrap: break-word;
 font-family: 'Open Sans', sans-serif;
}