<ion-menu contentId="main-content" >
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>

  </ion-menu>
  <div class="ion-page" id="main-content" >
   
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
    
  
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="play-circle"></ion-icon>
        Listen Now
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="radio"></ion-icon>
        Radio
      </ion-tab-button>
      <ion-tab-button tab="swap">
        <ion-icon name="library"></ion-icon>
        Library
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="search"></ion-icon>
       profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
