
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="eye"></ion-icon>
      Discover
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="swap-horizontal"></ion-icon>
      Swaps
    </ion-tab-button>
    <ion-tab-button tab="myprofile">
      <ion-icon name="person"></ion-icon>
      Profile
    </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
