<ion-header [translucent]="true">
  <ion-icon name="arrow-back-circle"></ion-icon>
 <ion-title>Notifications</ion-title> 
 <ion-icon name="party-popper"></ion-icon>
</ion-header>
<ion-content>
  <ion-segment mode="ios" class="segment-button">
    <ion-segment-button value="trending" checked>
      <ion-label>Trending</ion-label>
    </ion-segment-button>
    <ion-segment-button value="new-arrivals">
      <ion-label>New Arrivals</ion-label>
    </ion-segment-button>
    <ion-segment-button value="for-you" >
      <ion-label>For You</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-card style="--background:rgb(243, 241, 241);border-radius: 35px;height: 100px;margin-bottom: 30px;" *ngFor="let card of cards">
    <ion-card-header>
      <ion-card-title style="font-weight: 700;">{{card.offer}}</ion-card-title>
      <ion-card-subtitle style="font-size:20px;">{{card.sub}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  