.button{
    width: 370px;
    text-align: center;
    margin-left:-5px;
    border-radius: 40%;
}
.textbox{
    width: 360px;
    height: 20px;
    border-radius: 40%;
}
.responsive{
    margin-left: 300px;
}
.wholecard{
    width: 1000px;
    height: 850px;
}