<!-- <ion-content>
<ion-card class="wholecard">
  <ion-card-header>
    <ion-card-title class="title">Glamy</ion-card-title> 
  </ion-card-header> -->
  <ion-content>
  <ion-card class="wholecard">
    <ion-card-header>
      <ion-card-title style="font-size: 40px;margin-top: 100px;margin-left: 120px;" class="title"><b>Glamy</b></ion-card-title>
    </ion-card-header>
  <ion-card-content style="margin-top: 100px;" >
    <ion-textarea  class="textbox" label="USERNAME" labelPlacement="floating" fill="solid" placeholder="USERNAME"></ion-textarea><br>
    <ion-textarea class="textbox" label="PASSWORD" labelPlacement="floating" fill="solid" placeholder="PASSWORD"></ion-textarea><br>
    <span style="margin-left: 245px ;">Forgot password?</span>
  </ion-card-content>
  <ion-card-content style="margin-top:100px ;">
  <ion-button class="button" color="dark">Login</ion-button><br><span style="text-align: center;margin-left: 190px;">or</span><br>
  <ion-button class="button" color="dark">Signup</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
