 ion-card{
    height: 400px;
    background: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMjItbWluZC0xNl8xLmpwZw.jpg');
}
.container{
    padding-top: 10%;
}
ion-item{
    border-radius: 24px;
}