<ion-toolbar>
   <div class="container">
    <ion-avatar>
      <!-- <img src="" alt=""> -->
   <ion-icon name="person-outline" ></ion-icon>
   </ion-avatar>
 <span>
   <ion-label>Hi,guest</ion-label> <br>
   <ion-label>
     <ion-icon name="location-outline"></ion-icon>
      <span>500090,Hyderbad</span>
   </ion-label>
 </span>
 <div class="func-container">
   <ion-icon name="search-outline"></ion-icon>
   <ion-icon name="bag-handle-outline"></ion-icon>
   <ion-icon name="heart-outline"></ion-icon>
 </div>
   </div>
  
</ion-toolbar>
<ion-content>
  <div class="carousel-container">
    <div class="carousel" >
      <img src="https://www.shutterstock.com/image-vector/milk-splash-banner-ad-fresh-260nw-1809981082.jpg "  alt="..." id="image">
    </div>
    <div class="carousel" >
      <img src="https://static.vecteezy.com/system/resources/thumbnails/014/018/288/small/world-milk-day-cow-and-milk-barrel-concept-template-for-background-banner-card-poster-illustration-vector.jpg"  alt="..." id="image">
    </div>
    <div class="carousel">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk1e_uF0s-j90uhusw1s4w0fq5oTvoXQtM_4-XI79_lJk9Oq-PNklISHGVApLH0ExaxNM&usqp=CAU"  alt="..." >
    </div>
  </div>

<div class="category">
  <div class="cat-head">
    <h6>CATEGORIES</h6>
    <ion-label color="success">VIEW ALL</ion-label>
  </div>
  <div class="horizontal-scroll">
    <ion-col size="3" *ngFor="let cat of categories">
      <div class="cat-container">
        <img [src]="cat.image" style="max-width: 100%; max-height: 100%;">
        <ion-label>{{cat.title}}</ion-label>
      </div>
    </ion-col>
</div>
</div>
  <ion-card *ngFor="let bag of  baglist" class="cardBag">
    <img [src]="bag.bagImg" alt="">
     <ion-card-content>
      <ion-label>{{bag.bName}}</ion-label>
      <ion-label><span>{{bag.title}}</span> <span style="padding-left: 20px; color: blue;float: right;"> {{bag.price | currency:'INR'}}</span></ion-label>
      <ion-label>{{ bag.quantity}}ml</ion-label>
     <div class="sub-container">
      <ion-button color="light">+ BUY ONCE</ion-button>
      <ion-button color="success">SUBSCRIBE</ion-button>
     </div>
     </ion-card-content>
     
  </ion-card>
  <ion-card *ngFor="let bag of  baglist" class="btm-fix" color="success">
    <ion-avatar style="background-color: rgb(11, 212, 11);">
      <ion-icon name="bag-handle-outline"></ion-icon>
   </ion-avatar> 
    <ion-card-content>
      <ion-label> {{bag.price | currency:'INR'}}.other charges</ion-label>
      <ion-label>1 item(s) in bag</ion-label>
    </ion-card-content>
    <ion-label style="display: flex;align-items: center;gap: 10px; "><span>View</span> <ion-icon name="arrow-forward-outline"></ion-icon></ion-label>
  </ion-card>
</ion-content>