<ion-content [fullscreen]="true">
  <ion-header >
    <ion-icon name="arrow-back-outline"></ion-icon>
    <ion-title>Wishlist</ion-title>
  </ion-header>
  <ion-card *ngFor="let wish of  wishlist">
    <img [src]="wish.wishImg" alt="">
     <ion-card-content>
      <ion-label>{{wish.type}}</ion-label>
      <ion-label>{{wish.color}}</ion-label>
      <ion-label>RS.{{wish.discountPrice}} <span>RS.{{wish.oPrice}}</span></ion-label>
      <ion-label>{{wish.discount}}% OFF</ion-label>
     </ion-card-content>
   <div class="vertical-align-end">
    <ion-button color="dark" >Add to Bag</ion-button>
   </div>
  </ion-card>
</ion-content>