
  <ion-searchbar placeholder="Search Books"></ion-searchbar>
  <ion-content>
    <div>
  <ion-card style="width:50%;height:30%;background-color: rgb(230, 248, 230);">
    <ion-card-header >
      <a href="#">Historical Fiction</a>
      <a href="#">Biography/Autobiography</a>
      <a href="#">Horror</a>
      <a href="#">Crime & Mystery</a>
      <a href="#">Fantasy</a> 
      <a href="#">Science Fiction</a> 
      <a href="#">Tragedy</a> 
      <a href="#">Comic</a> 
    </ion-card-header>
  </ion-card >
</div>
  <ion-content-card>
  <ion-card class="grid-1">
      <ion-img src="https://www.bookswagon.com/productimages/mainimages/395/9789352774395.jpg"></ion-img>
      <ion-title>shivaji</ion-title>
  </ion-card>

<ion-card class="grid-2">
    <ion-img src="https://d2g9wbak88g7ch.cloudfront.net/productimages/mainimages/177/9780199510177.jpg"></ion-img>
    <ion-title>oxford</ion-title>
</ion-card>

<ion-card class="grid-3">
    <ion-img src="https://www.bookswagon.com/productimages/mainimages/423/9789389440423.jpg"></ion-img>
    <ion-title>canter ville ghost</ion-title>
</ion-card>

<ion-card class="grid-4">
    <ion-img src="https://www.bookswagon.com/productimages/mainimages/760/9781087931760.jpg"></ion-img>
    <ion-title>Predator</ion-title>
</ion-card>
</ion-content-card>
</ion-content>