<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-label>payments</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button color="light">
    <img src="https://play-lh.googleusercontent.com/DB-E7TSbWobxBzjS6IenXRXhkg2gNOM_685qcnKoPs9D6I9Y_4MdbQi9nhRvRCC9m5g" alt="">
    <span>XXXX XXXX XXXX XXXX</span>
  </ion-button>
  <ion-button color="light">
    <img src="https://imageio.forbes.com/blogs-images/steveolenski/files/2016/07/Mastercard_new_logo-1200x865.jpg?height=512&width=711&fit=bounds" alt="">
    <span>XXXX XXXX XXXX XXXX</span>
  </ion-button>
  <ion-button color="light">
    <img src="https://logowik.com/content/uploads/images/upi-unified-payments-interface4949.logowik.com.webp" alt="">
   <span> UPI Pay</span>
  </ion-button>
  <ion-button color="light"><i class="bi bi-qr-code-scan"></i> <span>Scan &  Pay</span></ion-button>
  <ion-label>Other</ion-label>
  <ion-button color="light"><i class="bi bi-cash"></i> <span>Cash on Delivery</span></ion-button>
</ion-content>
