ion-button {
    display: block;
    padding: 7px 20px;
    height: 3.5rem;
}
ion-label {
    font-size: 1.4rem;
    padding: 20px;
}
img{
    height: 2rem;
    mix-blend-mode:screen;
    float: left;
}
span{
    padding-left: 2rem;
}
i{
    font-size: 1.5rem;
}
ion-title{
    display: flex;
    align-items: center;
}
