<ion-header [translucent]="true">
  <ion-icon name="arrow-back-circle"></ion-icon>
 <ion-title>Product View</ion-title> 
 <ion-icon name="heart-outline"></ion-icon>
 <ion-icon name="bag-remove-outline"></ion-icon>
</ion-header>
<ion-content>

          <swiper-container
          #swiper
          (afterinit)="swiperReady()"
          (slidechange)="swiperSlideChanged($event)"
          [loop]="true"
          [zoom]="true"
          [pagination]="true">
      
          <swiper-slide *ngFor="let image of images">
            <div>
              <img class="newest-img" [src]="image"/>
            </div>
          </swiper-slide>
        </swiper-container>
        <ion-icon name="bookmark" (click)="toggleBookmark()"></ion-icon>
        
      </ion-content>