<ion-content>
    <ion-header style="display: flex;align-items: center;padding-block: 10px;">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-title>Delivery Adddress</ion-title>
      </ion-header>
  <ion-button color="light" class="button-with-icon">
    <ion-icon name="location-outline" slot="start"></ion-icon>
    <span>Use my Address</span>
  </ion-button>
  
  <ion-button color="light" class="button-with-icon" >
    <ion-icon name="add-outline"  slot="start"></ion-icon>
    <span>Add  new address</span>
  </ion-button>
  
  <div class="address" *ngFor="let addrs of address" scrollY="true">
    <ion-radio color="success" name="radio"></ion-radio>
    <ion-card color="light">
    <ion-card-header>
      <ion-label>Name-{{addrs.name}}</ion-label>
      <ion-label>Apartment/Floor number/Building-{{addrs.apartment}}</ion-label>
      <ion-label>City/Town-{{addrs.city}}</ion-label>
      <ion-label>District-{{addrs.distract}}</ion-label>
      <ion-label>State-{{addrs.state}}</ion-label>
      <ion-label>Country-{{addrs.country}}</ion-label>
      <ion-label>Pincode-{{addrs.pincode}}</ion-label>
    </ion-card-header>
  </ion-card>
  </div>
  <ion-button color="dark">Add  new address</ion-button>
  </ion-content>