.back-arrow{
    width: 50px;
    height: 50px;

}

.head1{
    margin-top: 10px;
}
.head2{
    margin: 10px;
    font-size: bold;
}
ion-label{
    margin:10px 10px;  
    font-size: larger;
    font-weight: 200;
}
.card1{
    height: 400px;
    border-radius: 8px;
}
.gary{
    height: 180px;
    width: 390px;
    background-color: rgb(196, 193, 193);
    border-radius: 8px;
}
img{
    height: 150px;
    width: 160px;
    margin: 8px;
    border-radius: 8px;
}
.big{
    font-size: 20px;
    margin: 6px;
    font-weight: 700;
    color: black;
}
span{
    text-decoration: line-through;
}