ion-header{
    display: flex;
}
ion-icon{
    width: 35px;
    height: 35px;
    margin: 10px 2px;
}
.newest-img{
    margin: 10px;
    height: 80px;
    width: 100px;
    border-radius: 50%;
}
label{
    margin-left: 20px;
    font-family: poppins;
}
