<!-- <ion-content>
  <ion-header >
    <ion-icon name="arrow-back-outline" routerLink="/home"></ion-icon>
  <ion-title>My Profile</ion-title>
</ion-header>
<ion-card cololr="light">
  <ion-avatar>
    <img 
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIb5cQa3ib5_V3P9L_J8b0wV5yaB0DN9XSQg&usqp=CAU" 
    alt="" 
    (error)="displayIcon = true" 
    *ngIf="!displayIcon">
  <ng-template *ngIf="displayIcon">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ng-template>
  
    
  </ion-avatar>
  <div class="person-info">
    <ion-card-title>NAME</ion-card-title>
    <ion-label>name123&#64;gmail.com</ion-label>
  </div>
</ion-card>

<table>
  <tbody *ngFor="let list of  profileList" >
    <tr routerLink="{{list.link}}">
      <td><ion-icon [name]="list.icon1" ></ion-icon></td>
      <td>{{list.listname}}</td>
      <td><ion-icon name="chevron-forward-outline"></ion-icon></td>
    </tr>
  </tbody>
</table>

</ion-content> -->

<ion-content class="scroller">
  <div class="btn-container">
      <div
          style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
          <div
              style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 126px; display: inline-flex">
              <div style="width: 24px; height: 24px; position: relative">
                  <div class="container">
                      <div class="btn-container">
                          <a routerLink="/homepage"><img class="icon" src="./assets/ic_round-arrow-back (3).svg" alt=""></a>
                      </div>
  
                  </div>
              </div>
              <div style="color: #363636; font-size: 12px;  font-weight: 400; word-wrap: break-word">
                  Profile</div>
          </div>
          <div style="width: 120px; height: 120px; position: relative">
              <img *ngIf="imageSource" style="width: 120px; height: 120px; left: 0px; top: 0px; position: absolute; border-radius: 100px"
                  src="{{profileUrl}}{{imageSource}}" />
                
                  <ion-avatar *ngIf="!imageSource" >
                    <img alt="Silhouette of a person's head" style="width: 120px; height: 120px; left: 0px; top: 0px; position: absolute; border-radius: 100px" src="https://ionicframework.com/docs/img/demos/avatar.svg"  
                      />
                  </ion-avatar>
              <!-- <button (click)="takePicture()" class="p_pic" >
                  <div style="width: 12px; height: 12px; background: #3355B9"></div>
              </button> -->
          </div>
          <div
              style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 18px; display: flex">
              <div
                  style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                  <div
                      style="color: #363636; font-size: 16px;  font-weight: 600; word-wrap: break-word">
                      Customer id</div>
                  <input type="text" placeholder="E0000001" class="c_idcss" value="C-{{loginuser?.UserID}}" disabled>
  
              </div>
              <div
                  style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                  <div
                      style="width: 82px; color: #363636; font-size: 16px;  font-weight: 600; word-wrap: break-word">
                      Name</div>
                  <input type="text" placeholder="Manish Paul" class="p_name" value="{{loginuser?.FirstName}} {{loginuser?.LastName}}" disabled>
  
              </div>
              <div
                  style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                  <div
                      style="width: 44.15px; color: #363636; font-size: 16px;  font-weight: 600; word-wrap: break-word">
                      Email</div>
                  <input type="text" placeholder="manishpaul@gmail.com" class="p_email" value="{{loginuser?.EmailID}}" disabled>
  
              </div>
              <div
                  style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                  <div
                      style="width: 80.95px; color: #363636; font-size: 16px;  font-weight: 600; word-wrap: break-word">
                      Mobile no.</div>
                  <input type="text" placeholder="9876543210" class="p_mobile" value="{{loginuser?.MobileNo}}" disabled>
              </div>
              <div
                  style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                  <div
                      style="width: 80.95px; color: #363636; font-size: 16px;  font-weight: 600; word-wrap: break-word">
                      Gender</div>
                  <input type="text" placeholder="Male" class="p_gender" value="{{loginuser?.Gender}}" disabled>
              </div>
              <div
                  style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                  <div
                      style="color: #363636; font-size: 16px;  font-weight: 600; word-wrap: break-word">
                      Date of birth</div>
                  <input type="text" placeholder="20-03-1980" class="p_dob" value="{{loginuser?.DateofBirth | date: 'dd/MM/yyyy' }}"disabled>
  
              </div>
          </div>
      </div>
  </div>
  </ion-content>