<ion-content>
  <ion-header >
  <ion-icon name="chevron-back-outline"></ion-icon>
  <ion-title>My Profile</ion-title>
</ion-header>
<ion-card cololr="light">
  <ion-avatar>
    <img 
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIb5cQa3ib5_V3P9L_J8b0wV5yaB0DN9XSQg&usqp=CAU" 
    alt="" 
    (error)="displayIcon = true" 
    *ngIf="!displayIcon">
  <ng-template *ngIf="displayIcon">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ng-template>
  
    
  </ion-avatar>
  <div class="person-info">
    <ion-card-title>NAME</ion-card-title>
    <ion-label>name123&#64;gmail.com</ion-label>
  </div>
</ion-card>
<table>
  <tbody *ngFor="let list of  profileList">
    <tr>
      <td><ion-icon [name]="list.icon1" ></ion-icon></td>
      <td>{{list.listname}}</td>
      <td><ion-icon name="chevron-forward-outline"></ion-icon></td>
    </tr>
  </tbody>
</table>
</ion-content>