.minus,
.plus {
  width: 36px;
  height: 36px;
  --border-radius: 50%; 
  margin-top: -10px; 
}
.count{
    padding-inline: 10px;
    margin-inline: 10px;
}
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e1d6d6;
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: top;
}
