<button class="back-btn">
<ion-icon name="arrow-back-circle"></ion-icon></button>

<ion-img
  src="https://th.bing.com/th/id/OIP.4ZpS8cLoHF9-CHDYe8XJpwAAAA?rs=1&pid=ImgDetMain"
  alt="The Wisconsin State Capitol building in Madison, WI at night" 
></ion-img>

<ion-card>
  <ion-card-header>
    <ion-card-title>Harrypotter</ion-card-title>
    <ion-card-subtitle>Wings of fire</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    125 rs 25% 0ff
     
  </ion-card-content>
  <ion-card-content>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>1DAY/100RS</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>
    </ion-accordion-group>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Delivery  </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>
      </ion-accordion-group>
      </ion-card-content>
  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>

  <ion-card class="paper" > 
    <a href="#" >Add to Cart ></a> 
    <ion-item class="wrapper">
      <ion-span class="minus" (click)="decrementQuantity()">-</ion-span>
      <ion-span class="num">{{quantity}}</ion-span>
      <ion-span class="plus" (click)="incrementQuantity()">+</ion-span>
    </ion-item> 
</ion-card>

