<button class="back-btn">
<ion-icon name="arrow-back-circle"></ion-icon></button>
<swiper-container
        #swiper
        
        (slidechange)="swiperSlideChanged($event)"
        [loop]="true"
        [zoom]="true" slides-per-view="1" [pagination]="true"
        >
  
        <swiper-slide *ngFor="let image of images">
          <div class="swiper-zoom-container" routerLink="product">
            <img class="newest-img" [src]="image"/>
          </div>
        </swiper-slide>
      </swiper-container>

<ion-card>
  <ion-card-header>
    <ion-card-title>Harrypotter</ion-card-title>
    <ion-card-subtitle>Wings of fire</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    125 rs 25% 0ff
     
  </ion-card-content>
  <ion-card-content>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>1DAY/100RS</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>
    </ion-accordion-group>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Delivery  </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>
      </ion-accordion-group>
      </ion-card-content>
  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>

  <ion-card class="paper" >  
    <ion-item class="wrapper">
      <ion-span class="minus" (click)="decrementQuantity()">-</ion-span>
      <ion-span class="num">{{quantity}}</ion-span>
      <ion-span class="plus" (click)="incrementQuantity()">+</ion-span>
    </ion-item> 
     <a href="#" class="anchor-right">Add to Cart ></a>

</ion-card>

