<ion-header>
  
  

    <ion-searchbar *ngIf="toggled" [(ngModel)]="searchTerm" [showCancelButton]="true" (ionCancel)="toggleSearch()" (ionInput)="triggerInput($event)"></ion-searchbar>
    
   <div style="display: flex;align-items: flex-end;justify-content: flex-end;margin: 2%;">
   
    <ion-buttons  *ngIf="!toggled">
      <button ion-button icon-only (click)="toggleSearch()"><ion-icon name="search" slot="end"></ion-icon></button>
     
    </ion-buttons> 
    <ion-icon name="cart"></ion-icon> 
  </div>

</ion-header> 

<!-- <ion-content 
  >

<ion-list>
  <ion-item *ngFor="let item of items">
    {{ item }}
  </ion-item>
</ion-list>
</ion-content> -->

 <ion-content class="ion-padding">
  <swiper-container class="chipcontainer"
    #swiper
    (afterinit)="swiperReady()"
    (slidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [zoom]="true" slides-per-view="4">

    <swiper-slide *ngFor="let chip of chips ">
    
  <ion-chip color="{{chip.color}}">{{chip.name}}</ion-chip>

</swiper-slide>
</swiper-container>
  <h1>Browse Book</h1>

   
    <div class="anchor">
      <h3>Album</h3>
      <button><ion-icon name="arrow-forward-circle"></ion-icon></button>
    </div>
  
    <swiper-container 
    #swiper
    (afterinit)="swiperReady()"
    (slidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [zoom]="true" slides-per-view="2.5">

    <swiper-slide *ngFor="let image1 of images1">
      <div class="swiper-zoom-container" routerLink="product">
        <img class="newest-img1" [src]="image1"/>
      
      </div>
      <p class="album-content">album-authors-book</p>
    </swiper-slide>
  </swiper-container>
    <div class="anchor">
    <h3>Newest books</h3>
    <button><ion-icon name="arrow-forward-circle"></ion-icon></button>
  </div>
  
      <swiper-container
        #swiper
        (afterinit)="swiperReady()"
        (slidechange)="swiperSlideChanged($event)"
        [loop]="true"
        [zoom]="true" slides-per-view="2.5">
  
        <swiper-slide *ngFor="let image of images">
          <div class="swiper-zoom-container" routerLink="product">
            <img class="newest-img" [src]="image"/>
          </div>
        </swiper-slide>
      </swiper-container>
  

      <div class="anchor">
        <h3>Recommended</h3>
       <button><ion-icon name="arrow-forward-circle"></ion-icon></button>
      </div>
  
      <swiper-container
      #swiper
      (afterinit)="swiperReady()"
      (slidechange)="swiperSlideChanged($event)"
      [loop]="true"
      [zoom]="true">
  
      <swiper-slide *ngFor="let card of cards">
        <div class="swiper-zoom-container">
          <div class="card"  style="width: 350px;" >
         
            <img class="newest" [src]="card" alt="">
         
         
        </div>
        </div>
      </swiper-slide>
    </swiper-container>

  
    <div class="anchor">
      <h3>Last reviews</h3>
     <ion-icon name="arrow-forward-circle"></ion-icon>
    </div>

    <swiper-container 
    #swiper
    (afterinit)="swiperReady()"
    (slidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [zoom]="true" slides-per-view="2.5">
  
    <swiper-slide *ngFor="let image of images">
      <div class="swiper-zoom-container">
        <img class="newest-img" [src]="image"/>
      </div>
    </swiper-slide>
  </swiper-container>

  </ion-content>
  <!-- <swiper-container #swiper>
    <swiper-slide>Slide 1</swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
  </swiper-container> -->