<ion-content>
 
<h1>Browse Book</h1>

<ion-content scrollY="false">
  <ion-searchbar placeholder="Search Book" class="bar"></ion-searchbar>
  <div class="anchor">
  <h3>Newest books</h3>
  <a href="">View all ></a>
</div>
    <swiper-container
      #swiper
      (afterinit)="swiperReady()"
      (slidechange)="swiperSlideChanged($event)"
      [loop]="true"
      [zoom]="true" slides-per-view="3">

      <swiper-slide *ngFor="let image of images">
        <div class="swiper-zoom-container">
          <img [src]="image"/>
        </div>
      </swiper-slide>
    </swiper-container>
    <div class="anchor">
      <h3>Recommended to you</h3>
      <a href="">View all ></a>
    </div>
    <swiper-container
    #swiper
    (afterinit)="swiperReady()"
    (slidechange)="swiperSlideChanged($event)"
    [loop]="true"
    [zoom]="true">

    <swiper-slide *ngFor="let card of cards">
      <div class="swiper-zoom-container">
        <div class="card"  style="width: 350px;">
        <ion-card style="display: flex;">
          <img src="{{card.image}}" alt="">
          <div class="card-title">harry potter-1</div>
          <div class="card-subtitle"></div>
        </ion-card>

    
      </div>
      </div>
    </swiper-slide>
  </swiper-container>
  <div class="anchor">
    <h3>Last reviews</h3>
    <a href="">View all ></a>
  </div>
    
  <swiper-container
  #swiper
  (afterinit)="swiperReady()"
  (slidechange)="swiperSlideChanged($event)"
  [loop]="true"
  [zoom]="true" slides-per-view="3">

  <swiper-slide *ngFor="let image of images">
    <div class="swiper-zoom-container">
      <img [src]="image"/>
    </div>
  </swiper-slide>
</swiper-container>
<ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
  </ion-content>
  


























<ion-tabs class="down-tabs" >
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="search">
            <ion-icon name="search"></ion-icon>
            Search
          </ion-tab-button>
      <ion-tab-button tab="eye">
        <ion-icon name="eye"></ion-icon>
        Discover
      </ion-tab-button>
      <ion-tab-button tab="arrow">
        <ion-icon name="swap-horizontal"></ion-icon>
        Swaps
      </ion-tab-button>
      <ion-tab-button tab="chat">
        <ion-icon name="chatbox">
        </ion-icon>Chat</ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>