<ion-content>
<ion-card class="wholecard" >
<ion-card-header>
  <ion-card-title style="font-size:x-large;"><ion-icon  name="arrow-back-outline"></ion-icon>&nbsp;&nbsp;  My Orders</ion-card-title>
</ion-card-header>
  <ion-card-content>
    <ion-list>
    <div class="card">
      <ion-item>
      
          <img class="img"  alt="Silhouette of mountains" src="https://tse2.mm.bing.net/th?id=OIP.XnHgzyeXmWna2YA4hH1nqwHaHa&pid=Api&P=0&h=220" />
      
        <ion-label><b>Womens Jacket</b><br>
          Bomber Jacket<br>
          <b>Rs.1299</b> &nbsp;&nbsp;<span class="strikethrough">3000</span><br>
          <b>61% OFF</b><button class="button">Track Order</button>
        </ion-label>   
      </ion-item>
    </div>
    <div class="card">
      <ion-item>
        
          <img class="img" alt="Silhouette of mountains" src="https://tse4.mm.bing.net/th?id=OIP.H2AMtI_hbLJNhHwqSLOviAHaJ4&pid=Api&P=0&h=220" />
        
        <ion-label><b>Womens Sweatshirt</b><br>
          Hoodie Sweatshirt<br>
          <b>Rs.2000 </b>&nbsp;&nbsp;<span class="strikethrough">Rs.4000</span><br>
          <b>50% OFF</b><button class="button">Track order</button>
        </ion-label>
      </ion-item>
    </div>
    <div>
      <ion-item class="card">
        
          <img class="img" alt="Silhouette of mountains" src="https://tse1.mm.bing.net/th?id=OIP.R5tTGniZ2Z1yGS-kJnzRXwHaJQ&pid=Api&P=0&h=220" />
        
        <ion-label><b>Men's Jacket</b><br>
          Leather Jacket<br>
          <b>Rs.4000</b> &nbsp;&nbsp;<span class="strikethrough">Rs.8000</span><br>
          <b>50% OFF</b>
          <button class="button">Track Order</button>
        </ion-label>
      </ion-item>
    </div>
    <div class="card">
      <ion-item>
        
          <img class="img" alt="Silhouette of mountains" src="https://tse2.mm.bing.net/th?id=OIP.XnHgzyeXmWna2YA4hH1nqwHaHa&pid=Api&P=0&h=220"  />
        
        <ion-label><b>Womens Jacket</b><br>
          Quilted Jacket<br>
        <b>Rs.5999</b> &nbsp;&nbsp;<span class="strikethrough">Rs.10000</span><br>
      <b>40% OFF</b><button class="button">Track Order</button>
        </ion-label>
      </ion-item>
    </div>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
