.card{
    height: 150px;
    margin-bottom: 50px;
    border-radius: 30px;
   
}
.wholecard{
    height: 895px;
}
.strikethrough {
    text-decoration: line-through;
  }
  .card1{
    margin-bottom: 50px;
  }
  .button{
    height: 40px;
    width: 120px;
    border-radius: 30px;
    margin-left: 120px;
    background-color: black;
    color:white;
    margin-right: -10px;
  }
  ion-item{
    // display: flex;
    // align-items: center;
  }
  .img{
    height: 100px;
    width: 80px;
    margin-bottom: 50px;
    padding-top:4px ;
  }

  
