<ion-card class="wholecard">
  <ion-card-header>
    <ion-card-title class="title">ORDER CONFIRMED</ion-card-title>
    <ion-card-subtitle><ion-icon class="ion-icon" name="checkmark-circle-outline"></ion-icon></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="content">
    Your Order was successful<br><br>
    ORDER ID <b>#98734577544/5</b><br><br> 
    Rate your purchase
    <ion-list>
    <ion-item lines="none">
    <img class="deepu" src="../assets/sad.png"/>&nbsp;
    <img class="deepu" src="../assets/happiness.png"/>&nbsp;
    <img class="deepu" src="../assets/heart.png"/>
  </ion-item>
  </ion-list>
  </ion-card-content>
 <ion-button color="dark" class="submit">Submit</ion-button>
 <ion-button class="home" fill="outline" color="dark">Back To Home</ion-button>
</ion-card>